{
      admin off
      frankenphp
      auto_https off # <--- RIGHT HERE. This completely removes the {} fallback policy.
}

{$SERVER_NAME} {
    tls /run/secrets/origin_cert /run/secrets/origin_key
    # Set the webroot to the public/ directory
    root * /Hoapp/public/
    # Enable compression (optional)
    encode zstd br gzip
    # Execute PHP files from the public/ directory and serve assets
    php_server {
        try_files {path} index.php
    }
}
