{
    admin off
    frankenphp
    auto_https off
    cert_issuer internal
}

{$SERVER_NAME} {
    tls /run/secrets/origin_cert /run/secrets/origin_key

    root * /app/public/
    encode zstd br gzip

    php_server {
        try_files {path} index.php
    }
}
